<div class="right-side">
  <div class="ad-first">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 블로그-우측-사이드 -->
    <ins class="adsbygoogle"
      style="display:inline-block;width:100%;"
      data-ad-client="ca-pub-3735244208850705"
      data-ad-slot="6097832819"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
<br/>
<br/>
  <div class="ad-second">
  </div>
</div>

